.navbar {
  position: fixed;
  left: 0;
  right: 0;
}

.navbar-form {
  float: right;
}

.content {
  margin-top: 62px;
}

/*
 * Song List
 */
.sortable {
  cursor: pointer;
}

.sortable.sorted {
  background: yellow;
}

/**
* Form Styles
*/

.form-group .ng-invalid.ng-dirty {
  border: 1px solid red;
}

.form-group .ng-valid.ng-dirty {
  border: 1px solid green;
}